<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course form</title>
</head>
<body>
    <h1>Course Form</h1>
    {%for category,msg in get_flashed_messages(with_categories=true)%}
    <p class="flash flash-{{category}}">{{msg}}</p>
    {%endfor%}
    {% if session.get("user_id") %}
    <form method="post" action="{{url_for("course_new")}}">
        <label for="title">Title</label>
        <input id ="title" name="title" required>

        <label for="description">Description</label>
        <input id="description" name="description" required>

        <button type="submit">Submit</button>

    </form>

    {%endif%}
    
</body>
</html>